{% extends "layouts/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="flex justify-between flex-wrap md:flex-no-wrap items-center py-4">
        <div class="block mb-4 md:mb-0">
            <nav aria-label="breadcrumb" class="hidden md:inline-block">
                <ol class="flex flex-wrap list-reset pt-3 pb-3 py-4 px-4 mb-4 bg-gray-200 rounded breadcrumb-dark breadcrumb-transparent">
                    <li class="inline-block px-2 py-2 text-gray-700">
                        <a href="{% url 'admin:index' %}">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="inline-block px-2 py-2 text-gray-700">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="flex flex-wrap mx-6 mt-6">
        <div class="w-full pr-4 pl-4">
            <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300">
                <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900">
                    <h5 class="title">
                        {% trans "Something's wrong with your database installation. Make sure the appropriate database tables have been created, and make sure the database is readable by the appropriate user." %}
                    </h5>
                </div>
                <div class="flex-auto p-6">
                    <div class="flex flex-wrap ">
                        <div class="md:w-3/5 pr-4 pl-4 md:pr-12">
                            <div class="py-3 px-6 bg-gray-200 border-t-1 border-gray-300">
                                <a href="{% url 'admin:index' %}" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline btn-fill bg-blue-600 text-white hover:bg-blue-600">
                                    <i class="fa fa-home"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="application/javascript">
        notification.info("{% trans "Something's wrong with your database installation. Make sure the appropriate database tables have been created, and make sure the database is readable by the appropriate user." %}", 'top', 'right');
    </script>
{% endblock %}
