{% extends 'layouts/base-shadow.html' %}
{% load i18n static admin_argon %}



{% block content %}

<section>
  <div class="relative flex items-center min-h-screen p-0 overflow-hidden bg-center bg-cover">
    <div class="container z-1">
      <div class="flex flex-wrap -mx-3">
        <div class="flex flex-col w-full max-w-full px-3 mx-auto lg:mx-0 shrink-0 md:flex-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
          <div class="relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none lg:py4 dark:bg-gray-950 rounded-2xl bg-clip-border">
            <div class="p-6 pb-0 mb-0">
              <h4 class="font-bold">Sign In</h4>
              <p class="mb-0">Enter your email and password to sign in</p>
            </div>
            <div class="flex-auto p-6">
              <form method="post" role="form">
                {% csrf_token %}
                  
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <span class="block my-2 text-red-600 text-sm">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                <label class="mb-2 ml-1 font-bold text-xs text-slate-700">{{ form.username.label }}</label>
                <div class="mb-4">
                  <input type="text" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="{{ form.username.label }}" name="{{ form.username.name }}" aria-label="Email" aria-describedby="email-addon" />
                </div>
                <label class="mb-2 ml-1 font-bold text-xs text-slate-700">{{ form.password.label }}</label>
                <div class="mb-4">
                  <input type="password" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="{{ form.password.label }}" name="{{ form.password.name }}" aria-label="Password" aria-describedby="password-addon" />
                </div>
               
                {% comment %} <div class="flex items-center pl-12 mb-0.5 text-left min-h-6">
                  <input id="rememberMe" class="mt-0.5 rounded-10 duration-250 ease-in-out after:rounded-circle after:shadow-2xl after:duration-250 checked:after:translate-x-5.3 h-5 relative float-left -ml-12 w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-zinc-700/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-blue-500/95 checked:bg-blue-500/95 checked:bg-none checked:bg-right" type="checkbox" />
                  <label class="ml-2 font-normal cursor-pointer select-none text-sm text-slate-700" for="rememberMe">Remember me</label>
                </div> {% endcomment %}
                <div class="text-center">
                  <button type="submit" class="inline-block w-full px-16 py-3.5 mt-6 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Sign in</button>
                </div>
              </form>
            </div>
           
          </div>
        </div>
        <div class="absolute top-0 right-0 flex-col justify-center hidden w-6/12 h-full max-w-full px-3 pr-0 my-auto text-center flex-0 lg:flex">
          <div class="relative flex flex-col justify-center h-full bg-cover px-24 m-4 overflow-hidden bg-[url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg')] rounded-xl ">
            <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-blue-500 to-violet-500 opacity-60"></span>
            <h4 class="z-20 mt-12 font-bold text-white">"Attention is the new currency"</h4>
            <p class="z-20 text-white ">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}



{% block extrascript %}
  <script type="application/javascript">
    {% if form.username.errors %}
      notification.danger("{{ form.username.errors }}", 'top', 'right');
    {% endif %}
    {% if form.password.errors %}
      notification.danger("{{ form.password.errors }}", 'top', 'right');
    {% endif %}

    {% if user.is_authenticated %}
      var msg = "You are authenticated as {{ username }}, but are not authorized to " +
        "access this page.Would you like to login to a different account ?"
      notification.warning(msg, 'top', 'right');
    {% endif %}

    {% if form.errors and not form.non_field_errors %}
      {% if form.errors.items|length == 1 %}
        notification.warning("{% trans "Please correct the error below." %}", 'top', 'right');
      {% else %}
        notification.warning("{% trans "Please correct the errors below." %}", 'top', 'right');
      {% endif %}
    {% endif %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        notification.warning("{{ error|clean_text }}", 'top', 'right');
      {% endfor %}
    {% endif %}
  </script>
{% endblock %}