{% load replace_value %}

{% if segment %}

<nav>
  <!-- breadcrumb -->
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="text-sm leading-normal">
      <a class="text-white opacity-50" href="javascript:;">{{ parent|replace_value:"_" }}</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']" aria-current="page">{{ segment|replace_value:"_" }}</li>
  </ol>
  <h6 class="mb-0 font-bold text-white capitalize">{{ segment|replace_value:"_" }}</h6>
</nav> 
{% endif %}